@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: "Bai Jamjuree", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
        line-height: 1.5;
        font-weight: 600;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    #root {
        min-height: 100vh;
        flex-grow: 1;
    }

    a {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
    }

    body {
        margin: 0;
        display: flex;
        place-items: center;
        min-height: 100vh;
        background: black;
        -webkit-tap-highlight-color: transparent;
        /*letter-spacing: 1px;*/
    }

    svg[viewBox="0 0 15 15"] {
        width: 1.2em;
        height: 1.2em;
        vertical-align: text-bottom;
    }

    /*button {*/
    /*  font-weight: 600;*/
    /*  @apply rounded-lg py-2 px-3 hover:bg-amber-500 focus:outline-none transition-opacity;*/
    /*}*/
    button.emphasis {
        font-weight: 600;
        @apply bg-amber-400 text-black hover:bg-amber-300 rounded-lg py-2 px-3 focus:outline-none transition-opacity;
    }

    button.hollow {
        font-weight: 600;
        @apply bg-transparent border-amber-400 border-[1px] py-2 px-3  rounded-lg text-white hover:bg-amber-400 hover:text-black;
    }

    button[disabled] {
        @apply opacity-50 cursor-not-allowed;
    }

    button.sm {
        @apply text-sm py-0.5 px-2 rounded-md;
    }


    h1 {
        @apply text-3xl font-bold md:text-4xl;
    }

    h2 {
        @apply text-2xl md:text-3xl;
    }

    h3 {
        @apply text-xl md:text-2xl;
    }

    a {
        @apply text-white hover:underline;
    }

    ul {
        list-style: inside disc;
    }

    input {
        @apply rounded-md bg-transparent border-neutral-800 hover:border-amber-400 focus:border-amber-400 border-[1px] outline-none p-2;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='checkbox'] {
        accent-color: rgb(251 191 36);
    }

    img[src=""] {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px"><path d="M 4 4 L 20 20 M 4 20 L 20 4" /></svg>');
    }

    @keyframes imgShow {
        from {
            opacity: 0;
            filter: blur(5px);
        }
        to {
            opacity: 1;
            filter: none;
        }
    }

    img.loaded {
        animation: imgShow 0.5s ease-in-out;
    }
}

@layer components {
    .page-content {
        @apply w-11/12 md:w-3/4 m-auto;
    }

    .stack {
        @apply flex flex-col;
    }

    .flexRow {
        @apply flex flex-row;
    }

    .flexStack {
        @apply flex md:flex-row flex-col;
    }

    .divider {
        @apply w-full h-[1px] bg-neutral-800 my-2;
    }

    .card {
        @apply rounded-2xl  p-4;
        box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.05),
        inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.25), inset 0 -1px 1px 0 #21293a,
        inset 2px 3px 3px -3px #5f5a88;
    }
}

