@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Bai Jamjuree", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100vh;
  flex-grow: 1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: black;
  /*letter-spacing: 1px;*/
}

svg[viewBox="0 0 15 15"] {
  width: 1.2em;
  height: 1.2em;
  vertical-align: text-bottom;
}

button {
  font-weight: 600;
  @apply rounded-lg py-2 px-3 hover:bg-amber-500 focus:outline-none focus:ring-amber-500 focus:ring-2;
}

button.emphasis {
  @apply bg-amber-400 text-black hover:bg-amber-300;
}

button.hollow {
  @apply bg-transparent border-amber-400 border-[1px] text-white hover:bg-amber-400 hover:text-black;
}

h1 {
  @apply text-3xl font-bold md:text-4xl;
}

h2 {
  @apply text-2xl md:text-3xl;
}

h3 {
  @apply text-xl md:text-2xl;
}

a {
  @apply text-white hover:underline hover:text-white;
}

ul {
  list-style: inside disc;
}

input {
  @apply rounded-md bg-transparent border-amber-400 border-[1px] outline-none p-2;
}

img[src=""] {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px"><path d="M 4 4 L 20 20 M 4 20 L 20 4" /></svg>');
}

@keyframes imgShow {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: none;
  }
}

img.loaded {
  animation: imgShow 0.5s ease-in-out;
}

@layer components {
  .page-content {
    @apply w-11/12 md:w-3/4 m-auto;
  }
  .stack {
    @apply flex flex-col;
  }

  .flexRow {
    @apply flex flex-row;
  }

  .flexStack {
    @apply flex md:flex-row flex-col;
  }
}

@layer utilities {
  .card {
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.05),
      inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.25), inset 0 -1px 1px 0 #21293a,
      inset 2px 3px 3px -3px #5f5a88;
  }
}
